.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./Util/DoctorImage.jpg");
  background-position: right;
  background-size: 100%;
}

.App__home {
  display: flex;
  flex-direction: column;
  background-image: url(https://www.neurologybytes.com/globalassets/eucampaigns/tpe/all-images-original-dimensions/covid-19_1160x500px_144ppi.png?w=1440&h=650&mode=crop);
  background-size: auto;
  background-position: center;
}

.Dashboard {
  height: max-content;
  width: 100%;
  background-color: white;
  background-image: url("./Util/Corona.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.App__login {
  height: auto;
  /* background-color: rgb(167, 153, 153); */
  margin-left: -130px;
}
